__pycache__/
*.py[cod]
.venv/
.idea/
.vscode/

work_dirs/
runs/
logs/
*.log

*.pth
*.pt
*.ckpt
*.npy
*.npz
*.pkl

data/HumanML3D/
data/ntu/
data/nturgb/*.pkl
data/nturgb/*.npy

!data/humanml3d/mean_std/*.npy
!data/nturgb/ntu60_2d_Mean.npy
!data/nturgb/ntu60_2d_Std.npy
